.calculator {
    width: 380px;
    height: 580px;
    margin: 100px auto;
    text-align: center;
    background-color: #7e7c7c;
    border-radius: 10px;
}

.display {
    height: 100px;
    background-color: #808080;
    font-size: 36px;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #dddddd;
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;

}

.buttons button {
    width: 75px;
    height: 75px;
    background-color: #ffffff;
    font-size: 24px;
    border: 1px solid #dddddd;
    margin: 10px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    border-radius: 10px;
}

.buttons button:hover {
    background-color: #777575;
}

.operator {
    background-color: #dddddd;
    color: #222222;
}